{% extends "layout/app.html" %}

{% block scripts %}

{{ super() }}
<style>
    .clearfix::after {
        clear: both;
        display: block;
        content: '';
    }
</style>

<!-- Addons script -->
{% endblock %}

{% block content %}

<!-- -------- START HEADER 7 w/ text and video ------- -->
<header class="bg-gradient-dark">
    <div class="page-header min-vh-50" style="background-image: url('../../static/img/office-dark.jpg');">
        <span class="mask bg-gradient-info opacity-8"></span>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center mx-auto my-auto">
                    <h1 class="text-white text-uppercase">Informationi</h1>
                    <p class="lead mb-4 text-white opacity-8"></p>
                    <h6 class="text-white mb-2 mt-5">Find us on</h6>
                    <div class="d-flex justify-content-center">
                        <a href="javascript:;"><i class="fab fa-facebook text-lg text-white me-2"></i></a>
                        <a href="javascript:;"><i class="fab fa-instagram text-lg text-white me-2"></i></a>
                        <!-- <a href="javascript:;"><i class="fab fa-twitter text-lg text-white me-4"></i></a>
              <a href="javascript:;"><i class="fab fa-google-plus text-lg text-white"></i></a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- -------- END HEADER 7 w/ text and video ------- -->

<article>
    <div class="container">
        <div class="row" style="margin-top: 100px">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">

                <h3>5 Classifications of Red Blood Cells</h3>
                <h5>Based on their shape are:</h5>
                <img src="../../static/img/cells/inf.png" alt="" class="w-100 mb-3">
                <div style="text-align: center; color: #0000FF;">
                    <p style="font-weight: bold;">Red blood cells classified by their shape (Bernadette F.Rodak,2016)</p>
                </div>

                <article id="a-1" class="mb-4">
                    <h4>1. Normal</h4>
                    <div class="cleafix">
                        <img src="../../static/img/cells/Frame_Normal.png" width="820" height="370" style="float: right;" alt="">
                        <div style="text-align: center; color: #0000FF;">
                            <p style="font-weight: bold;">Microscopic image of Normal class (Fitri dkk., 2017)</p>
                        </div>
                        A normal red blood cell is one that has a hemosiderin level within the range of 4.2-5.1 mg/dl and contains asam nisin per cubic millimeter (Nb/mmol/L) between 130 and 140. 
                        Red blood cells with both of these values falling within this range can be considered normal as they are stable and have reached the age of 18 or older. 
                        Even if a normal red blood cell has a hemosiderin level at the minimum of 4.2 mg/dl or the maximum of 5.1 mg/dl, it can still be considered normal as it falls within the stable category, regardless of the chosen range of hemosiderin levels determined by the criteria of normality.

                    </div>
                </article>
                <article id="a-2">
                    <h4>2. Ellyptocytes</h4>
                    <div class="clearfix">
                        <p>
                            <img src="../../static/img/cells/Frame_Ellyptocytes.png" width="820" height="370" style="float: right;" alt="">
                            <div style="text-align: center; color: #0000FF;">
                                <p style="font-weight: bold;">Microscopic image of Ellyptocytes class (Fitri dkk., 2017)</p>
                            </div>
                            Ellyptocytes are red blood cells that have a hemosiderin level below the range of 4.2 mg/dl and contain asam nisin per cubic millimeter (Nb/mmol/L) above 140. Red blood cells with both of these values falling within this range can be considered normal as they are stable and have reached the age of 18 or older. 
                            Even if a normal red blood cell has a hemosiderin level at the minimum of 4.2 mg/dl or the maximum of 5.1 mg/dl, it can still be considered normal as it falls within the stable category, regardless of the chosen range of hemosiderin levels determined by the criteria of normality. 
                            Ellyptocytes can be considered normal even if their hemosiderin level is below the range chosen by the criteria of normality (<4.2 mg/dl) because they are still in the stable category and have reached the age of 18 or older.
                    </div>
                </article>
                <article id="a-3">
                    <h4>3. Ovalocytes</h4>
                    <div class="cleafix">
                        <p>
                            <img src="../../static/img/cells/Frame_Ovalocytes.png" width="820" height="370" style="float: right;" alt="">
                            <div style="text-align: center; color: #0000FF;">
                                <p style="font-weight: bold;">Microscopic image of Ovalocytes class  (Fitri dkk., 2017)</p>
                            </div>
                            Ovalocytes are red blood cells that have an ellipsoidal shape and have a hemosiderin level below the range of 4.2 mg/dl, and contain asam nisin per cubic millimeter (Nb/mmol/L) above 140. Red blood cells with both of these values falling within this range can be considered normal as they are stable and have reached the age of 18 or older. 
                            Even if a normal red blood cell has a hemosiderin level at the minimum of 4.2 mg/dl or the maximum of 5.1 mg/dl, it can still be considered normal as it falls within the stable category, regardless of the chosen range of hemosiderin levels determined by the criteria of normality. 
                            Ovalocytes can be considered normal even if their hemosiderin level is below the range chosen by the criteria of normality (<4.2 mg/dl) because they are still in the stable category and have reached the age of 18 or older.
                                </p>
                        </p>
                    </div>
                </article>
                <article id="a-4">
                    <h4>4. Stomatocytes</h4>
                    <div class="cleafix">
                        <p>
                            <img src="../../static/img/cells/Frame_Stomatocytes.png" width="820" height="370" style="float: right;" alt="">
                            <div style="text-align: center; color: #0000FF;">
                                <p style="font-weight: bold;">Microscopic image of Stomatocytes class  (Fitri dkk., 2017)</p>
                            </div>
                            Stomatocytes are red blood cells that have a spherical shape and have a hemosiderin level below the range of 4.2 mg/dl, and contain asam nisin per cubic millimeter (Nb/mmol/L) above 140. Red blood cells with both of these values falling within this range can be considered normal as they are stable and have reached the age of 18 or older. 
                            Even if a normal red blood cell has a hemosiderin level at the minimum of 4.2 mg/dl or the maximum of 5.1 mg/dl, it can still be considered normal as it falls within the stable category, regardless of the chosen range of hemosiderin levels determined by the criteria of normality. 
                            Stomatocytes can be considered normal even if their hemosiderin level is below the range chosen by the criteria of normality (<4.2 mg/dl) because they are still in the stable category and have reached the age of 18 or older.
                                </p>
                        </p>
                    </div>
                </article>
                <article id="a-5">
                    <h4>5. Teardop</h4>
                    <div class="clearfix">
                        <p>
                            <img src="../../static/img/cells/Frame_Teardrop.png" width="820" height="370" style="float: right;" alt="">
                            <div style="text-align: center; color: #0000FF;">
                                <p style="font-weight: bold;">Microscopic image of Teardop class  (Fitri dkk., 2017)</p>
                            </div>
                            Teardrop red blood cells are characterized by their teardrop shape and have a hemosiderin level below the range of 4.2 mg/dl, while containing asam nisin per cubic millimeter (Nb/mmol/L) above 140. Red blood cells meeting both of these criteria can be considered normal as they are stable and have reached the age of 18 or older. 
                            Even if a normal red blood cell has a hemosiderin level at the minimum of 4.2 mg/dl or the maximum of 5.1 mg/dl, it can still be considered normal as it falls within the stable category, regardless of the chosen range of hemosiderin levels determined by the criteria of normality. 
                            Teardrop red blood cells can be considered normal even if their hemosiderin level is below the range chosen by the criteria of normality (<4.2 mg/dl) because they are still in the stable category and have reached the age of 18 or older.
                        </p>
                    </div>
                </article>
            </div>
            <div class="col-lg-2">
                <!-- <li>Hello world</li> -->
            </div>
        </div>
    </div>
</article>
{% endblock %}