{% extends "layout/app.html" %}

{% block scripts %}

{{ super() }}
<style>
    .clearfix::after {
        clear: both;
        display: block;
        content: '';
    }
</style>

<!-- Addons script -->
{% endblock %}

{% block content %}

<!-- -------- START HEADER 7 w/ text and video ------- -->
<header class="bg-gradient-dark">
    <div class="page-header min-vh-50" style="background-image: url('../../static/img/office-dark.jpg');">
        <span class="mask bg-gradient-info opacity-8"></span>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center mx-auto my-auto">
                    <h1 class="text-white text-uppercase">Informasi</h1>
                    <p class="lead mb-4 text-white opacity-8"></p>
                    <h6 class="text-white mb-2 mt-5">Find us on</h6>
                    <div class="d-flex justify-content-center">
                        <a href="javascript:;"><i class="fab fa-facebook text-lg text-white me-2"></i></a>
                        <a href="javascript:;"><i class="fab fa-instagram text-lg text-white me-2"></i></a>
                        <!-- <a href="javascript:;"><i class="fab fa-twitter text-lg text-white me-4"></i></a>
              <a href="javascript:;"><i class="fab fa-google-plus text-lg text-white"></i></a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- -------- END HEADER 7 w/ text and video ------- -->

<article>
    <div class="container">
        <div class="row" style="margin-top: 100px">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">

                <h3>5 Klasifikasi Sel Darah Merah</h3>
                <img src="../../static/img/cells/inf.png" alt="" class="w-100 mb-3">
                <div style="text-align: center; color: #0000FF;">
                    <p style="font-weight: bold;">Sel darah Merah berdasarkan bentuknya (Bernadette F.Rodak,2016)</p>
                </div>

                <article id="a-1" class="mb-4">
                    <h4>1. Normal</h4>
                    <div class="cleafix">
                        <img src="../../static/img/cells/Frame_Normal.png" width="820" height="370" style="float: right;" alt="">
                        <div style="text-align: center; color: #0000FF;">
                            <p style="font-weight: bold;">Gambar mikroskopis kelas Normal (Fitri dkk., 2017)</p>
                        </div>
                        Sel darah merah normal adalah sel darah merah yang memiliki tingkat hemosiderin dalam
                        rentang
                        4.2-5.1 mg/dl dan memiliki asam nisin per kubik mililiter (Nb/mmol/L) antara 130 dan 140.
                        Sel
                        darah merah dengan kedua nilai ini dapat dianggap normal karena bersifat stabil dan telah
                        mencapai usia 18 tahun atau lebih. Jika sel darah merah normal tetapi hanya memiliki tingkat
                        hemosiderin minimal 4.2 mg/dl atau maksimal 5.1 mg/dl, maka masih dapat dianggap normal
                        walaupun
                        berbeda rentang tingkat hemosiderin yang dipilih oleh penentu normalitas karena masih dalam
                        kategori stabil.

                    </div>
                </article>
                <article id="a-2">
                    <h4>2. Ellyptocytes</h4>
                    <div class="clearfix">
                        <p>
                            <img src="../../static/img/cells/Frame_Ellyptocytes.png" width="820" height="370" style="float: right;" alt="">
                            <div style="text-align: center; color: #0000FF;">
                                <p style="font-weight: bold;">Gambar mikroskopis kelas Ellyptocytes (Fitri dkk., 2017)</p>
                            </div>
                            Sel darah merah Ellyptocytes adalah sel darah merah yang memiliki tingkat hemosiderin di
                            bawah
                            rentang
                            4.2 mg/dl dan memiliki asam nisin per kubik mililiter (Nb/mmol/L) di atas 140. Sel darah
                            merah
                            dengan kedua
                            nilai ini dapat dianggap normal karena bersifat stabil dan telah mencapai usia 18 tahun atau
                            lebih. Jika
                            sel darah merah normal tetapi hanya memiliki tingkat hemosiderin minimal 4.2 mg/dl atau
                            maksimal
                            5.1 mg/dl,
                            maka masih dapat dianggap normal walaupun berbeda rentang tingkat hemosiderin yang dipilih
                            oleh
                            penentu
                            normalitas karena masih dalam kategori stabil. Sel darah merah Ellyptocytes dapat dianggap
                            normal walaupun
                            tingkat hemosiderinnya di bawah rentang yang dipilih oleh penentu normalitas (<4.2 mg/dl)
                                karena masih dalam kategori stabil dan telah mencapai usia 18 tahun atau lebih. </p>
                    </div>
                </article>
                <article id="a-3">
                    <h4>3. Ovalocytes</h4>
                    <div class="cleafix">
                        <p>
                            <img src="../../static/img/cells/Frame_Ovalocytes.png" width="820" height="370" style="float: right;" alt="">
                            <div style="text-align: center; color: #0000FF;">
                                <p style="font-weight: bold;">Gambar mikroskopis kelas Ovalocytes (Fitri dkk., 2017)</p>
                            </div>
                            Sel darah merah Ovalocytes adalah sel darah merah yang memiliki bentuk elipsoidal dan
                            memiliki
                            tingkat hemosiderin di bawah rentang 4.2 mg/dl dan memiliki asam nisin per kubik mililiter
                            (Nb/mmol/L) di atas 140. Sel darah merah dengan kedua nilai ini dapat dianggap normal karena
                            bersifat stabil dan telah mencapai usia 18 tahun atau lebih. Jika sel darah merah normal
                            tetapi
                            hanya memiliki tingkat hemosiderin minimal 4.2 mg/dl atau maksimal 5.1 mg/dl, maka masih
                            dapat
                            dianggap normal walaupun berbeda rentang tingkat hemosiderin yang dipilih oleh penentu
                            normalitas karena masih dalam kategori stabil. Sel darah merah Ovalocytes dapat dianggap
                            normal
                            walaupun tingkat hemosiderinnya di bawah rentang yang dipilih oleh penentu normalitas (<4.2
                                mg/dl) karena masih dalam kategori stabil dan telah mencapai usia 18 tahun atau lebih.
                                </p>
                        </p>
                    </div>
                </article>
                <article id="a-4">
                    <h4>4. Stomatocytes</h4>
                    <div class="cleafix">
                        <p>
                            <img src="../../static/img/cells/Frame_Stomatocytes.png" width="820" height="370" style="float: right;" alt="">
                            <div style="text-align: center; color: #0000FF;">
                                <p style="font-weight: bold;">Gambar mikroskopis kelas Stomatocytes (Fitri dkk., 2017)</p>
                            </div>
                            Sel darah merah Stomatocytes adalah sel darah merah yang memiliki bentuk bola dan memiliki
                            tingkat hemosiderin di bawah rentang 4.2 mg/dl dan memiliki asam nisin per kubik mililiter
                            (Nb/mmol/L) di atas 140. Sel darah merah dengan kedua nilai ini dapat dianggap normal karena
                            bersifat stabil dan telah mencapai usia 18 tahun atau lebih. Jika sel darah merah normal
                            tetapi
                            hanya memiliki tingkat hemosiderin minimal 4.2 mg/dl atau maksimal 5.1 mg/dl, maka masih
                            dapat
                            dianggap normal walaupun berbeda rentang tingkat hemosiderin yang dipilih oleh penentu
                            normalitas karena masih dalam kategori stabil. Sel darah merah Stomatocytes dapat dianggap
                            normal walaupun tingkat hemosiderinnya di bawah rentang yang dipilih oleh penentu normalitas
                            (
                            <4.2 mg/dl) karena masih dalam kategori stabil dan telah mencapai usia 18 tahun atau lebih.
                                </p>
                        </p>
                    </div>
                </article>
                <article id="a-5">
                    <h4>5. Teardop</h4>
                    <div class="clearfix">
                        <p>
                            <img src="../../static/img/cells/Frame_Teardrop.png" width="820" height="370" style="float: right;" alt="">
                            <div style="text-align: center; color: #0000FF;">
                                <p style="font-weight: bold;">Gambar mikroskopis kelas Teardop (Fitri dkk., 2017)</p>
                            </div>
                            Sel darah merah Teardrop adalah sel darah merah yang memiliki bentuk teardrop dan memiliki
                            tingkat hemosiderin di bawah rentang 4.2 mg/dl dan memiliki asam nisin per kubik mililiter
                            (Nb/mmol/L) di atas 140. Sel darah merah dengan kedua nilai ini dapat dianggap normal karena
                            bersifat stabil dan telah mencapai usia 18 tahun atau lebih. Jika sel darah merah normal
                            tetapi
                            hanya memiliki tingkat hemosiderin minimal 4.2 mg/dl atau maksimal 5.1 mg/dl, maka masih
                            dapat
                            dianggap normal walaupun berbeda rentang tingkat hemosiderin yang dipilih oleh penentu
                            normalitas karena masih dalam kategori stabil. Sel darah merah Teardrop dapat dianggap
                            normal
                            walaupun tingkat hemosiderinnya di bawah rentang yang dipilih oleh penentu normalitas (<4.2
                                mg/dl) karena masih dalam kategori stabil dan telah mencapai usia 18 tahun atau lebih.
                                </p>
                        </p>
                    </div>
                </article>
            </div>
            <div class="col-lg-2">
                <!-- <li>Hello world</li> -->
            </div>
        </div>
    </div>
</article>
{% endblock %}