{% extends "layout/app.html" %}

{% block scripts %}

{{ super() }}
<style>
    .clearfix::after {
        clear: both;
        display: block;
        content: '';
    }
</style>

<!-- Addons script -->
{% endblock %}

{% block content %}

<!-- -------- START HEADER 7 w/ text and video ------- -->
<header class="bg-gradient-dark">
    <div class="page-header min-vh-50" style="background-image: url('../../static/img/office-dark.jpg');">
        <span class="mask bg-gradient-info opacity-8"></span>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center mx-auto my-auto">
                    <h1 class="text-white text-uppercase">Information</h1>
                    <p class="lead mb-4 text-white opacity-8"></p>
                    <h6 class="text-white mb-2 mt-5">Find us on</h6>
                    <div class="d-flex justify-content-center">
                        <a href="javascript:;"><i class="fab fa-facebook text-lg text-white me-2"></i></a>
                        <a href="javascript:;"><i class="fab fa-instagram text-lg text-white me-2"></i></a>
                        <!-- <a href="javascript:;"><i class="fab fa-twitter text-lg text-white me-4"></i></a>
              <a href="javascript:;"><i class="fab fa-google-plus text-lg text-white"></i></a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- -------- END HEADER 7 w/ text and video ------- -->

<article>
    <div class="container">

        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">

                <h3>5 Classifications of Red Blood Cells</h3>
                <h5>Based on their shape are:</h5>
                <div class="d-flex justify-content-center text-center">
                    <div>
                        <a href="#a-1">
                            <img src="../static/assets/images/s1.jpg" class="w-100" alt="">
                            <p style="color: #178066;">Normal</p>
                        </a>
                    </div>
                    <div>
                        <a href="#a-2">
                            <img src="../static/assets/images/s2.jpg" class="w-100" alt="">
                            <p style="color: #178066;">Elliptocytes</p>
                        </a>
                    </div>
                    <div>
                        <a href="#a-3">
                            <img src="../static/assets/images/s3.jpg" class="w-100" alt="">
                            <p style="color: #178066;">Ovalocytes</p>
                        </a>
                    </div>
                    <div>
                        <a href="#a-4">
                            <img src="../static/assets/images/s4.jpg" class="w-100" alt="">
                            <p style="color: #178066;">Stomatocytes</p>
                        </a>
                    </div>
                    <div>
                        <a href="#a-5">
                            <img src="../static/assets/images/s5.jpg" class="w-100" alt="">
                            <p style="color: #178066;">Teardop</p>
                        </a>
                    </div>
                </div>
                <!-- <img src="../../static/img/cells/inf.png" alt="" class="w-100 mb-3"> -->
                <!-- <div style="text-align: center; color: #1fab89;">
                    <p style="font-weight: bold;">Red blood cells classified by their shape (Bernadette F.Rodak,2016)
                    </p>
                </div> -->

                <article id="a-1" class="mb-4">
                    <h4>1. Normal</h4>
                    <div class="cleafix">
                        <img src="../../static/img/cells/Frame_Normal.png" class="img-fluid d-sm-block" width="820"
                            height="370" style="float: right;" alt="">
                        <div style="text-align: center; color: #1fab89;">
                            <p style="font-weight: bold;">Microscopic image of Normal class (Fitri dkk., 2017)</p>
                        </div>
                        Most red blood cells, or erythrocytes, are disc-shaped, with a small portion being cup-shaped. In stained peripheral blood smears, they appear roughly round in outline and show little variation in shape and moderate variation in size. The average diameter is around 7.5 μm. In areas where cells form a monolayer, the paler central area occupies about one-third of the cell's center. The normal shape and flexibility of red blood cells depend on the integrity of the cytoskeleton to which the lipid membrane is attached. 
                        Abnormal shapes can be caused by primary defects in the cytoskeleton or membrane, or secondary to red blood cell fragmentation or polymerization, crystallization, or hemoglobin deposition.y,
                        regardless of the chosen range of hemosiderin levels determined by the criteria of normality (Bain,2015)

                    </div>
                </article>
                <article id="a-2">
                    <h4>2. Ellyptocytes</h4>
                    <div class="clearfix">
                        <p>
                            <img src="../../static/img/cells/Frame_Ellyptocytes.png" class="img-fluid d-sm-block"
                                width="820" height="370" style="float: right;" alt="">
                        <div style="text-align: center; color: #1fab89;">
                            <p style="font-weight: bold;">Microscopic image of Ellyptocytes class (Fitri dkk., 2017)</p>
                        </div>
                        Ellyptocytes are red blood cells that have a hemosiderin level below the range of 4.2 mg/dl and
                        contain asam nisin per cubic millimeter (Nb/mmol/L) above 140. Red blood cells with both of
                        these values falling within this range can be considered normal as they are stable and have
                        reached the age of 18 or older.
                        Even if a normal red blood cell has a hemosiderin level at the minimum of 4.2 mg/dl or the
                        maximum of 5.1 mg/dl, it can still be considered normal as it falls within the stable category,
                        regardless of the chosen range of hemosiderin levels determined by the criteria of normality.
                        Ellyptocytes can be considered normal even if their hemosiderin level is below the range chosen
                        by the criteria of normality (<4.2 mg/dl) because they are still in the stable category and have
                            reached the age of 18 or older. </div>
                        <p>Elliptocytes are abnormal red blood cells characterized by their elongated shape, where the long axis exceeds twice their short axis, resulting in an oval appearance. 
                            This distinctive morphology often indicates an underlying condition affecting the red cell cytoskeleton, such as hereditary elliptocytosis. In hereditary elliptocytosis, elliptocytes are typically numerous and dominant, contributing to the clinical presentation of the disorder. However, even in conditions where elliptocytes are less prominent, their presence may still provide valuable diagnostic clues, as they can be observed in disorders like iron deficiency anemia, β thalassemia, and various myeloproliferative disorders (Bain,2015)</p>
                </article>
                <article id="a-3">
                    <h4>3. Ovalocytes</h4>
                    <div class="cleafix">
                        <p>
                            <img src="../../static/img/cells/Frame_Ovalocytes.png" class="img-fluid d-sm-block"
                                width="820" height="370" style="float: right;" alt="">
                        <div style="text-align: center; color: #1fab89;">
                            <p style="font-weight: bold;">Microscopic image of Ovalocytes class (Fitri dkk., 2017)</p>
                        </div>
                        Ovalocytes are red blood cells that have an ellipsoidal shape and have a hemosiderin level below
                        the range of 4.2 mg/dl, and contain asam nisin per cubic millimeter (Nb/mmol/L) above 140. Red
                        blood cells with both of these values falling within this range can be considered normal as they
                        are stable and have reached the age of 18 or older.
                        Even if a normal red blood cell has a hemosiderin level at the minimum of 4.2 mg/dl or the
                        maximum of 5.1 mg/dl, it can still be considered normal as it falls within the stable category,
                        regardless of the chosen range of hemosiderin levels determined by the criteria of normality.
                        Ovalocytes can be considered normal even if their hemosiderin level is below the range chosen by
                        the criteria of normality (<4.2 mg/dl) because they are still in the stable category and have
                            reached the age of 18 or older. </p>
                            </p>
                            Ovalocytes, on the other hand, are characterized by their oval-shaped morphology, where the long axis measures less than twice their short axis. Unlike elliptocytes, ovalocytes do not exhibit the elongated appearance but rather appear more rounded. These abnormal red blood cells can also be indicative of underlying pathologies affecting the red cell cytoskeleton, albeit with a slightly different clinical significance. 
                            While ovalocytes are associated with conditions such as hereditary elliptocytosis, they may also be observed in disorders like megaloblastic anemia, primary myelofibrosis, myelodysplastic syndromes (MDS), and inherited red cell enzyme deficiencies like pyruvate kinase deficiency. In these disorders, ovalocytes may occur in smaller numbers compared to elliptocytes but still serve as important diagnostic indicators, particularly when interpreted alongside other clinical and laboratory findings (Bain,2015)
                    </div>
                </article>
                <article id="a-4">
                    <h4>4. Stomatocytes</h4>
                    <div class="cleafix">
                        <p>
                            <img src="../../static/img/cells/Frame_Stomatocytes.png" class="img-fluid d-sm-block"
                                width="820" height="370" style="float: right;" alt="">
                        <div style="text-align: center; color: #1fab89;">
                            <p style="font-weight: bold;">Microscopic image of Stomatocytes class (Fitri dkk., 2017)</p>
                        </div>
                        Stomatocytes are blood cells characterized by a central linear slit or stoma seen on stained blood films. Under scanning electron microscopy or in wet preparations, they exhibit a cup- or bowl-shaped appearance. 
                        Factors such as low pH or exposure to lipid-soluble drugs like chlorpromazine can induce stomatocyte formation, which is typically reversible. The condition is often associated with various membrane abnormalities, possibly involving the expansion of the inner leaflet of the red cell membrane. Stomatocyte formation has been observed in liver disease, hereditary spherocytosis, and autoimmune hemolytic anemia, among other conditions. Notably, alcohol excess and alcoholic liver disease are common causes, often accompanied by macrocytosis. Inherited disorders like hereditary stomatocytosis and hereditary xerocytosis are characterized by the presence of stomatocytes. 
                        Furthermore, certain Mediterranean populations may exhibit a condition known as Mediterranean stomatocytosis/macrothrombocytopenia, linked to hereditary phytosterolemia. Stomatocytes have also been associated with conditions such as analphalipoproteinemia (Tangier disease) and hypoalphalipoproteinemia (Bain,2015)
                        </p>
                    </div>
                </article>
                <article id="a-5">
                    <h4>5. Teardop</h4>
                    <div class="clearfix">
                        <p>
                            <img src="../../static/img/cells/Frame_Teardrop.png" class="img-fluid d-sm-block"
                                width="820" height="370" style="float: right;" alt="">
                        <div style="text-align: center; color: #1fab89;">
                            <p style="font-weight: bold;">Microscopic image of Teardop class (Fitri dkk., 2017)</p>
                        </div>
                        "Teardrop" or pear-shaped cells (dacrocytes) occur when there is bone marrow fibrosis or severe dyserythropoiesis and also in some types of hemolytic anemias. They are particularly characteristic of megaloblastic anemia, thalassemia major, and myelofibrosis - either primary myelofibrosis or myelofibrosis secondary to metastatic carcinoma or other bone marrow infiltration. 
                        In both thalassemia major and primary myelofibrosis, the proportion of teardrop cells decreases following splenectomy, suggesting either that they are the product of extramedullary hematopoiesis or that they are formed when the spleen causes further damage to abnormal red cells. Teardrop cells that are present in occasional cases of autoimmune hemolytic anemia, Heinz body hemolytic anemia, and β-thalassemia major are likely to be the result of the action of splenic macrophages on abnormal erythrocytes, resulting in the removal of part of the red cell, Heinz bodies, or α chain precipitates. 
                        Teardrop poikilocytes are common in patients with erythroleukemia (Bain,2015)</p>
                    </div>
                </article>
            </div>
            <div class="col-lg-2">
                <!-- <li>Hello world</li> -->
            </div>
        </div>
    </div>
</article>
{% endblock %}