{% extends "layout/app.html" %}

{% block scripts %}

{{ super() }}

<!-- Addons script -->
<script>

    clearImage = () => {
        document.getElementById("upload-img").value = null;
        document.getElementById("img-prev").src = "../../static/img/bg-merah.jpg";
        document.getElementById("img-prev").dataset.trigger = "";
        document.getElementById("upload-form").reset();
        $('#pieChart').hide();

        $.ajax({
            url: "/clear-image",
            type: "POST",
            success: function (response) {
                console.log(response);
                window.location.reload();
            },
            error: function (error) {
                console.error(error);
            },
        })
    }
</script>
{% endblock %}

{% block content %}

<section class="" style="margin-top: 200px;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-12 mb-4 mb-lg-0">
                <div class="card">
                    <div class="card-header  p-0 mx-3 mt-3 position-relative z-index-1">
                        <h4 class="text-uppercase">Upload Image</h4>
                    </div>

                    <div class="card-body pt-2">
                        <p class="card-description mb-4">
                            <img src="../../static/img/bg-merah.jpg" alt="image-preview"
                                class="img-fluid border-radius-lg" id="img-prev" data-trigger="" width="50%">

                        <form method="POST" enctype="multipart/form-data" id="upload-form">
                            <input type="file" name="image" class="form-control mb-2" id="upload-img"
                                accept=".jpg, .jpeg" />
                            <small class="text-sm">SVG, PNG, JPG or GIF (MAX. 800x400px).</small>
                        </form>
                        </p>
                        <div class="author align-items-center">
                            <button class="btn btn-danger mt-2" onclick="clearImage()">
                                Reset</button>
                        </div>
                    </div>
                </div>

            </div>

            <!-- Modal Cropping Imaages -->
            <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalLabel">Crop the image</h5>
                        </div>
                        <div class="modal-body">
                            <div class="img-container">
                                <div class="row">
                                    <div class="col-md-6">
                                        <img id="sample_image" src="" class="w-100" alt="Picture">
                                    </div>
                                    <div class="col-md-4">
                                        <div class="preview"
                                            style=" margin-left: 50px; overflow: hidden; width: 250px; height: 250px;">
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" id="crop">Crop</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Modal Cropping Imaages -->

            <!-- Modal Progress bar -->
            <div class="modal fade" id="progressModal" tabindex="-1" role="dialog" aria-labelledby="progressModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">

                        <div class="modal-body text-center">
                            <h3>Wait For It</h3>
                        </div>
                    </div>
                </div>
            </div>
            <!--  /Modal Progress bar -->

            <!-- Grafik -->
            <div class="col-lg-8 col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="text-uppercase">Grafik</h4>
                    </div>

                    <div class="card-body d-flex justify-content-center">
                        <div id="pie" class="">
                            <div class="card-body">
                                <canvas id="pieChart"></canvas>
                            </div>
                        </div>
                        <div class="align-items-start mt-4">
                            <p class="mb-0">
                                <strong>Result:</strong> <small class="main-label"></small>
                            </p>
                            <p class="mb-0">
                                <strong>Probability:</strong> <small class="main-probabilitas"></small>%
                            </p>
                        </div>
                    </div>
                    <div class="section-overlay"></div>
                </div>
            </div>

            <!-- /Grafik -->
        </div>
    </div>
    </div>
</section>


<article>
    <div class="container">
        <div class="row mt-4 py-4">
            <h3>Here's the tutorial:</h3>
            <p>
                1. Download the material from <a href="../../static/img/darah.jpg" class="text-danger"
                    download="bahan">this LINK</a> <br>
                2. Click "Choose File" and select the image you want to crop. Then, click "Open". <br>
                <img src="../static/img/tutorial/1.png" alt="" width="300"> <br>
                3. Adjust the dimensions of the image cropping by adjusting the cropping box or entering the dimensions
                manually. <br>
                4. Once satisfied with the selection, press "<strong>CROP</strong>" to cut the image according to the
                specified dimensions. <br>
                <img src="../static/img/tutorial/2.png" alt="" width="500"> <br>
                5. The detection result will be displayed, allowing you to compare the cropped result with the original
                image. <br>
                <img src="../static/img/tutorial/3.png" alt="" width="500"> <br>
                6. To restart the detection process, press "<strong>RESET</strong>" to remove detection artifacts and
                restore the application to its initial state. <br>
                <img src="../static/img/tutorial/4.png" alt="" width="300">

            </p>
        </div>
    </div>
</article>
{% endblock %}