{% extends "layout/app.html" %} 

{% block scripts %}

    {{ super() }}

    <!-- Addons script -->
    <script>

    </script>
{% endblock %}

{% block content %}

<section class="featured-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-12 mb-4 mb-lg-0">
                <div class="custom-block bg-white shadow-lg">
                    <form
                        method="POST"
                        enctype="multipart/form-data"
                        id="upload-form">
                        <input
                            type="file"
                            name="image"
                            class="form-control mb-2"
                            id="upload-img"
                            accept=".jpg, .jpeg" />
                        <img src="" alt="" width="100%" id="img-prev" />
                        <button
                            type="submit"
                            class="btn btn-primary"
                            id="btn-process">
                            Memulai Proses
                        </button>
                    </form>
                </div>
            </div>

            <div class="col-lg-8 col-12">
                <div class="custom-block custom-block-overlay">
                    <div class="d-flex flex-column h-100">
                        <img
                            src=""
                            class="custom-block-image img-fluid"
                            alt="" />

                        <div class="custom-block-overlay-text d-flex">
                            <div>
                                <h5 class="text-white mb-2">Grafik</h5>

                                <div id="resultDetection">
                                    <div id="result"></div>
                                </div>

                                <div
                                    id="pie"
                                    style="display: none"
                                    class="col-lg-6 mx-auto">
                                    <div class="card custom-card">
                                        <h4 class="card-header">
                                            Persentase Probabilitas
                                        </h4>
                                        <div class="card-body">
                                            <canvas
                                                id="pieChart"
                                                width="10"
                                                height="10"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="section-overlay"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
