{% extends "layout/app.html" %}

{% block scripts %}

{{ super() }}

<!-- Addons script -->
{% endblock %}

{% block content %}

<!-- department section -->

<section class="department_section layout_padding">
    <div class="department_container">
        <div class="container ">
            <div class="heading_container heading_center">
                <h2>
                    Our Features
                </h2>
                <p>
                    Perform predictions based on input image detection to identify characteristics of blood cell
                    abnormalities
                </p>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="box ">
                        <div class="img-box">
                            <img src="../../static/assets/images/s1.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Image Detection
                            </h5>
                            <p>
                                Identify blood cell abnormalities through blood smear images with .jpg and .png
                                existence
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="box ">
                        <div class="img-box">
                            <img src="../../static/assets/images/s2.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Accurate Result
                            </h5>
                            <p>
                                Identification results show predicted classes that can be displayed through
                                high accuracy, graphs, and high probability levels
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="box ">
                        <div class="img-box">
                            <img src="../../static/assets/images/s3.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Knowledge
                            </h5>
                            <p>
                                Enhancing understanding and making better decisions across various contexts and
                                situations.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="box ">
                        <div class="img-box">
                            <img src="../../static/assets/images/s4.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Unlimited Usage
                            </h5>
                            <p>
                                Can be used anywhere, anytime, and the results are accurate
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- end department section -->

<!-- about section -->

<section class="about_section layout_margin-bottom">
    <div class="container  ">
        <div class="row">
            <div class="col-md-6 ">
                <div class="img-box">
                    <img src="../../static/assets/images/PV.png" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="detail-box">
                    <div class="heading_container">
                        <h2>
                            Polycythemia <span>Vera Disease</span>
                        </h2>
                    </div>
                    <p>
                        According to the classification of the World Health Organization (WHO), Myeloproliferative
                        Neoplasms Syndrome (MPNs) is a disease that occurs in clonal hematopoietic stem cells.
                        This disease is characterized by expansion, excessive production, and excessive accumulation of
                        erythrocytes, granulocytes, and platelets individually or in various combinations.
                        One characteristic that serves as a diagnostic criterion for MPNs is its similarity to
                        Polycythemia Vera (PV), which is one type of MPNs. PV, in the context of MPNs, indicates
                        abnormal increases in the production of erythrocytes, granulocytes, and platelets.
                        The diagnosis of MPNs, including PV, requires a deep understanding of its characteristics and
                        clinical manifestations for appropriate management (Bain, 2015)
                    </p>
                    <a href="">
                        Read More
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end about section -->

<!-- doctor section -->

<section class="doctor_section layout_padding">
    <div class="container">
        <div class="heading_container heading_center">
            <h2>
                Development Team
            </h2>
            <p class="col-md-10 mx-auto px-0">
                The development team collaborates closely to innovate and deliver high-quality software solutions
                efficiently
            </p>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-3 d-flex">
                <div class="box flex-fill">
                    <div class="img-box">
                        <img src="../../static/assets/images/a1.png" alt="">
                    </div>
                    <div class="detail-box">
                        <div class="social_box">
                            <a href="">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-youtube" aria-hidden="true"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a>
                        </div>
                        <h5>
                            Zilvanhisna Emka Fitri, ST., MT
                        </h5>
                        <h6 class="">
                            D4 Dosen Teknik Informatika Politeknik Negeri Jember
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 d-flex">
                <div class="box flex-fill">
                    <div class="img-box">
                        <img src="../../static/assets/images/a2.png" alt="">
                    </div>
                    <div class="detail-box">
                        <div class="social_box">
                            <a href="">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-youtube" aria-hidden="true"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a>
                        </div>
                        <h5>
                            Ir. Arizal Mujibtamala Nanda Imron, ST., MT
                        </h5>
                        <h6 class="">
                            D4 Dosen Teknik Elektro Universitas Negeri Jember
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 d-flex">
                <div class="box flex-fill">
                    <div class="img-box">
                        <img src="../../static/assets/images/a3.png" alt="">
                    </div>
                    <div class="detail-box">
                        <div class="social_box">
                            <a href="">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-youtube" aria-hidden="true"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a>
                        </div>
                        <h5>
                            dr. Sylvia Viana Varanita, Sp.PK
                        </h5>
                        <h6 class="">
                            Clinical Pathologist UOBK RSUD Asembagus Situbondo
                        </h6>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3 d-flex">
                <div class="box flex-fill">
                    <div class="img-box">
                        <img src="../../static/assets/images/a4 (1).png" alt="">
                    </div>
                    <div class="detail-box">
                        <div class="social_box">
                            <a href="">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-youtube" aria-hidden="true"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a>
                        </div>
                        <h5>
                            Riska Dwi Nur Aini
                        </h5>
                        <h6 class="">
                            Mahasiswa D4 Teknik Informatika Politeknik Negeri Jember
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end doctor section -->

<!-- contact section -->
<section class="about_section layout_margin-bottom">
    <div class="container  ">
        <div class="row">
            <div class="col-md-6 ">
                <div class="img-box">
                    <img src="../../static/assets/images/logo.png" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="detail-box">
                    <div class="heading_container">
                        <h2>
                            Polyvethrocy
                        </h2>
                    </div>
                    <p>
                        "Polyvethrocy" is a term derived from a combination of two key components. Firstly, "poly,"
                        stemming from the Greek language, denotes "many" or "much," suggesting an abundance or excessive
                        presence. Secondly, "vethrocy" specifically refers to red blood cells or erythrocytes.
                        When combined, the term encapsulates the concept of an elevated quantity of erythrocytes within
                        the bloodstream. This term serves as a fundamental descriptor for polycythemia vera, a disorder
                        characterized by the overproduction of red blood cells by the bone marrow, leading to an
                        increased viscosity of the blood and potential complications such as blood clots. Thus, the logo
                        "Polyvethrocy" symbolically represents the pathological condition of excessive erythrocytes,
                        highlighting the essence of polycythemia vera.
                        The diagnosis of MPNs, including PV, requires a deep understanding of its characteristics and
                        clinical manifestations for appropriate management.
                    </p>
                    <a href="">
                        Read More
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end client section -->
{% endblock %}